//
// Main
//

// Desktop mode
@include media-breakpoint-up(lg) {
  .app-main {
    :not([data-kt-app-footer-fixed="true"]) & {
      .app-content {
        padding-bottom: 0 !important;
      }
    }

    [data-kt-app-footer-fixed="true"] & {
      .app-content {
        padding-bottom: $app-content-padding-y !important;
      }
    }
  }
}

.pagination {
  justify-content: end;
  margin-right: 20px;
  padding-bottom: 10px;
}

.border-red {
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--bs-form-invalid-border-color) !important;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 51px;
  z-index: 1;
}

.tax-field:not(:last-child) {
  margin-bottom: 4px;
}
